::root {
  --primary-color: #1e3050;
  --link-color: rgb(165, 89, 235);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  padding-inline: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

nav h1 {
  margin: 0;
  font-size: px;
  padding-left: 20px;
  transition: all 0.3s cubic-bezier(0.86, 0.12, 0.06, 1.91);
}

nav h1:hover {
  scale: 1.1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-inline: 100px;
}

nav li {
  margin: 0 10px;
  transition: all 0.3s cubic-bezier(0.86, 0.12, 0.06, 1.91);
}

nav li:hover {
  scale: 1.1;
}

nav li a {
  font-size: 1.2rem;
  color: #ffffff9f;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

nav li a:hover {
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.675);
}

#post-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  justify-content: start;
  padding: 10px;
  padding-inline: 20px;
  position: relative;
  max-height: none !important;
  overflow-y: visible !important;
  flex: 1 !important;
}
#post_list h2 {
  color: #1e3050;
  border-left: 4px solid #1e3050;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  background-color: white;
}

.post-item {
  background: white;
  border: 2px solid #1e3050;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.post-item h3 {
  color: #1e3050;
  margin-bottom: 0.5rem;
}

.post-item a {
  text-decoration: none;
  color: #1e3050;
}

.post-item a:hover {
  text-decoration: underline;
}

.post-item p {
  color: #333;
  line-height: 1.6;
}

.pale-wrap {
  flex: 1;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid #0a4a614c;
}
